*{
    padding: 0%;
    font-family: "Montserrat", sans-serif;
}

body{
   /* background-color:#FFD39A;*/
   background: -webkit-linear-gradient(90deg, #4df2cc,#a8e2cf,#2323a8);/* Chrome 10-25, Safari 5.1-6 */                          
   background: linear-gradient(90deg, #4df2cc,#a8e2cf,#2323a8);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
    font-family:sans-serif;
    font-weight:bold; 
    }

header{
    background-color: #319DA0;

}
header span{
    color: #781C68;
}
.encabezado{
    color: white;
}
.nav-item a:visited{
    color: #FEB941;

}
.nav-item a:hover{
    color: #FEB941;

}
#button {
background-color: crimson;
}

.icon-square .bi{
    
    width: 30px;
    border-radius: 5px;
    border-radius: 50px;
    font-size: 1.3em;
   
}
.bi{
    color:aqua;
    font-size: 2em;
}
.img-proyecto1{
    background-image: url('/Clon_Pinterests.jpeg');
    background-size: contain;
    background-repeat: no-repeat;


}
.img-proyecto1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
    pointer-events: none; 
}
.img-proyecto1 .d-flex.flex-column {
    position: relative;
    z-index: 2; 
}
.icon-habilidades{
    color:#781C68;
    font-size:  2em;;
}
.card-text{
    text-align:justify;
    
}
footer
{
    background-color:#781C68;
}
.icon-footer{
color: white;
}
#app{
    color:#781C68;
}
.habilidadesB{
    align-items: center;
    border-radius: 2px;
}